@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import './variables.css';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none
}

section {
    padding: 100px 10vw;
}

footer {
  text-align: center;
  padding: 50px 0;
  color: var(--muted-color);
  font-family: var(--muted-font);
  border-top: 1px solid #222;
}