.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // Firefox compatible gradient background
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(17, 17, 17, 1) 100%
    );
    // end gradient background
    text-align: center;

    .hero-content {
        h1 {
            font-size: 4rem;
            font-weight: 800;
            margin-bottom: 1rem;
            span {
                color: var(--accent-color);
            }
        }
        p {
            margin-top: 0.1rem;
            font-size: 1.2rem;
            color: var(--accent-color);
            opacity: 0.8;
            margin-bottom: 2rem;
        }
        .hero-btn {
            padding: 0.75rem 2rem;
            border: 2px solid var(--accent-color);
            font-weight: 600;
            background: transparent;
            color: var(--accent-color);
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                background: var(--accent-color);
                color: var(--bg-color);
            }
        }
    }
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .nav-links {
    display: none;
  }
}