.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(10px);   
    z-index: 100;

    .nav-logo {
    font-weight: 700;
    font-size: 1.2rem;
    font-family: var(--muted-font);
    letter-spacing: 1px;
    color: var(--muted-color);
    }

    .nav-links {
        list-style: none;
        display: flex;
        gap: 2rem;
        font-family: var(--muted-font);
        font-family: var(--muted-font);
        color: var(--muted-color);

        li a {
            font-weight: 500;
            transition: color 0.3s ease;
            &:hover {
                color: var(--accent-color);
            }
        }
    }
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .nav-links {
    display: none;
  }
}